<div class="ngx-flex--row">

  <div class="ngx-flex--col-6">
    <img src="assets/image/resource_illustration.png" style="width: 100%; margin-top: 15%; margin-bottom: 12%;">
  </div>

  <div class="ngx-flex--col-6">
    <h1 class="title_section_resource">RECURSOS Y MATERIALES</h1>
    <div class="ngx-flex--row">

      <div class="ngx-flex--col-12" *ngFor="let resourcebox of documentboxs">

        <div class="source_box">
          <div class="ngx-flex--row">

            <div class="ngx-flex--col-2">
              <img class="filepic" src="{{resourcebox.image}}">
            </div>

            <div class="ngx-flex--col-7">
              <h2 class="title_resource">{{resourcebox.title}}</h2>
            </div>

            <div class="ngx-flex--col-3">
              <button type="button" class="btn btn-bordered btn_source">Ver Documentos</button>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>


</div>
