<div class="ngx-flex--wrap">

<div class="ngx-flex--row" >


  <div class="ngx-flex--col-7">
    <img src="assets/image/cover_illustration.png" class="illustration">
  </div>

  <div class="ngx-flex--col-5">
    <div class="ngx-flex--row">
      <div class="ngx-flex--col-6">

        <div class="ngx-flex--row box_container">
          <div class="ngx-flex--col-4">
            <img src="assets/image/simbol.png" class="simbol">
          </div>

          <div class="ngx-flex--col-8">

            <div class="ngx-flex--row ">
              <div class="ngx-flex--col-12"><h2 class="text_in_box">recopilación de laos datos de las fuentes </h2> </div>
              <div class="ngx-flex--col-12"><button type="button" class="btn btn-bordered" style="color: black; border-color: black;">Ver Proyectos</button></div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>
</div>
