.father_cover {
  height: 100vh;
}

.logo_mobile {
  display: none;
}

.illustration {
  width: 100%;
}

.title_cover1 {
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  font-weight: 100;
}

.title_cover2 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  font-weight: 500;
}

.title_topic {
  font-family: 'Roboto', sans-serif;
  font-size: 160%;
  font-weight: 300;
  margin-top: 8%;
}

.box_container {
 background-color: white;
 margin-top: 10%;
  -webkit-box-shadow: 5px 5px 15px -7px rgba(71,71,71,0.59);
  -moz-box-shadow: 5px 5px 15px -7px rgba(71,71,71,0.59);
  box-shadow: 5px 5px 15px -7px rgba(71,71,71,0.59);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.simbol {
  width: 80%;
  margin-left: 20%;
  margin-top: 30%;
  margin-bottom: 30%;
}


.text_in_box {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 85%;
  margin-top: 10%;
}

.btn_box_topic {
  color: black;
  border-color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn_box_topic:hover {
  background-color: #a676e5;
  color: white;
  border-color: white;

}









.image_modal {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 3%;
}

.modal_title_main {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: black;
  line-height: 0;
  text-align: center;
}


.modal_doc_box {
  background-color: #522877;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.image_doc {
  width: 100%;
  margin-left: 15%;
  margin-top: 20%;
  margin-bottom: 20%;
}

.title_doc {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 110%;
  color: white;
}


.decor_footer_modal_cover {
  display: block;
  height: 20px;
  background-color: white;
}

@media only screen and (max-width: 1200px) {

  .father_cover {
    height: auto;
  }


  .logo_mobile {
    display: block;
    width: 15%;
    margin-top: 10%;
    margin-bottom: 2%;
  }

  .title_cover1 {
    font-size: 190%;
  }

  .title_cover2 {
    font-size: 150%;
  }

  .title_topic {
    font-size: 150%;
    margin-top: 2%;
    font-weight: 500;
  }

  .simbol {
    width: 80%;
    margin-left: 20%;
    margin-top: 00%;
    margin-bottom: 0%;
  }

  .text_in_box {
    font-size: 80%;
    margin-top: 10%;
    text-align: left;
  }

  .btn_box_topic {
    margin-left: 14%;
    margin-bottom: 10%;
  }


  .modal_title_main {
    line-height: 1;
  }

  .title_doc {
    font-size: 90%;
  }


}

@media only screen and (max-width: 900px) {
  .father_cover {
    height: auto;
  }


  .logo_mobile {
    display: block;
    width: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .title_cover1 {
    font-size: 190%;
  }

  .title_cover2 {
    font-size: 150%;
  }

  .title_topic {
    font-size: 150%;
    margin-top: 22%;
    font-weight: 500;
  }

  .simbol {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .text_in_box {
    font-size: 80%;
    margin-top: 0%;
    text-align: center;
  }

  .btn_box_topic {
    margin-left: 14%;
    margin-bottom: 10%;
  }


  .modal_title_main {
    line-height: 1;
  }

  .title_doc {
    font-size: 90%;
  }


}


@media only screen and (max-width: 760px) {


  .father_cover {
    height: auto;
  }


  .logo_mobile {
    display: block;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .title_cover1 {
    font-size: 140%;
  }

  .title_cover2 {
    font-size: 100%;
  }

  .title_topic {
    font-size: 100%;
    margin-top: 20%;
    font-weight: 500;
  }

  .simbol {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .text_in_box {
    font-size: 80%;
    margin-top: 0%;
    text-align: center;
  }

  .btn_box_topic {
   margin-left: 14%;
    margin-bottom: 10%;
  }


  .modal_title_main {
    line-height: 1;
  }

  .title_doc {
    font-size: 90%;
  }


}
