

      <div class="ngx-flex--row" >


        <div class="ngx-flex--col-12">
          <img src="assets/image/logo.png" class="logo">
        </div>

        <div class="ngx-flex--col-12">
          <mat-icon class="menu_icon">home</mat-icon>
          <h1 class="menu_word">ACCEDER</h1>
        </div>

        <div class="ngx-flex--col-12">
          <mat-icon class="menu_icon">group</mat-icon>
          <h1 class="menu_word">EQUIPO</h1>
        </div>

        <div class="ngx-flex--col-12">
          <mat-icon class="menu_icon">folder</mat-icon>
          <h1 class="menu_word">RECURSOS</h1>
        </div>

        <div class="ngx-flex--col-12">
          <mat-icon class="menu_icon"> contact_mail</mat-icon>
          <h1 class="menu_word">CONTACTO</h1>
        </div>


      </div>




      <div class="ngx-flex--row smi_container" >


        <div class="ngx-flex--col-12">
          <img src="assets/image/instagramicon.png" class="social_media_icon">
        </div>

        <div class="ngx-flex--col-12">
          <img src="assets/image/facebookicon.png" class="social_media_icon">
        </div>

        <div class="ngx-flex--col-12">
          <img src="assets/image/twittericon.png" class="social_media_icon">
        </div>




      </div>






