<div class="ngx-flex--wrap">

  <div class="ngx-flex--row">

    <div class="ngx-flex--col-12 ngx-flex--col-sm-2 ngx-flex--col-md-3 ngx-flex--col-lg-4">
      <img src="assets/image/logowhite.png" class="logo_footer">
    </div>

    <div class="ngx-flex--col-12 ngx-flex--col-sm-6 ngx-flex--col-md-5 ngx-flex--col-lg-3" style="margin-top: 5%; margin-bottom: 5%; border-left: solid 2px white;">
      <div class="ngx-flex--row">
        <div class="ngx-flex--col-2">
          <mat-icon class="icon_contac"> email</mat-icon>
        </div>
        <div class="ngx-flex--col-10">
          <h3 class="mail_info">info@acceder.cr</h3>
        </div>
      </div>
      <a href="https://www.instagram.com/accedercr/" target="_blank"><img src="assets/image/instagramiconwhite.png" class="social_contac_icon"></a>
      <a href="https://www.facebook.com/accedercr" target="_blank"><img src="assets/image/facebookiconwhite.png" class="social_contac_icon"></a>
      <a href="https://twitter.com/AccederCR" target="_blank"><img src="assets/image/twittericonwhite.png" class="social_contac_icon"></a>
    </div>

    <div class="ngx-flex--col-sm-2 ngx-flex--col-md-2 ngx-flex--col-lg-2" style="margin-top: 5%; margin-bottom: 5%; border-left: solid 2px white;">
      <ul>
        <li class="footer_menu"><a class="btn_menu_link_footer" href="#acceder">ACCEDER</a></li>
        <li class="footer_menu"><a class="btn_menu_link_footer" href="#equipo">EQUIPO</a></li>
        <li class="footer_menu"><a class="btn_menu_link_footer" href="#recurso">RECURSOS</a></li>
        <li class="footer_menu"><a class="btn_menu_link_footer" href="#contacto">CONTACTO</a></li>
      </ul>
    </div>
  </div>

</div>

