.row_menu_mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .column_menu {
    display: none;
    height: auto;
  }
  .menu_desktop {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .column_menu {
    display: none;
    height: auto;
  }
  .menu_desktop {
    display: none;
  }

  .row_menu_mobile {
    display: block;
    border-top: solid 1px #cccccc;
    background-color: white;
    position: fixed;
    top: 91vh;
    width: 100vw;
  }
}


