<a name="acceder"></a>

<div class="ngx-flex--row"><div class="ngx-flex--col-md-1" style="background-color: white; height: 100vh;position: fixed;">

  <app-menu-component></app-menu-component>

</div></div>

<div class="ngx-flex--wrap" style="margin-left:0;">
  <div class="ngx-flex--row">


    <div class="ngx-flex--col-md-1">

    </div>

    <div class="ngx-flex--col-md-11">

      <app-cover-component></app-cover-component>

    </div>
  </div>
</div>


<a name="equipo"></a>
<div class="ngx-flex--wrap" style="margin-left:0;">
  <div class="ngx-flex--row">


    <div class="ngx-flex--col-md-1">

    </div>

    <div class="ngx-flex--col-md-11">

      <app-info-acceder-component></app-info-acceder-component>

    </div>
  </div>
</div>


<a name="recurso"></a>
<div class="ngx-flex--wrap" style="margin-left:0;">
  <div class="ngx-flex--row">


    <div class="ngx-flex--col-md-1">

    </div>

    <div class="ngx-flex--col-md-11">

      <app-resource-component></app-resource-component>

    </div>
  </div>
</div>


<div class="ngx-flex--wrap" style="margin-left:0; background-color: white;">
  <div class="ngx-flex--row">


    <div class="ngx-flex--col-md-1">

    </div>

    <div class="ngx-flex--col-md-11">

      <app-redes-component></app-redes-component>

    </div>
  </div>
</div>

<a name="contacto"></a>
<div class="ngx-flex--wrap" style="margin-left:0; background-color: #522877;">
  <div class="ngx-flex--row">


    <div class="ngx-flex--col-md-1">

    </div>

    <div class="ngx-flex--col-md-11">

      <app-footer-component></app-footer-component>

    </div>
  </div>
</div>




<!-- Modal -->




