

  <div class="ngx-flex--row" style="margin: 0%;">


    <div class="ngx-flex--col-12">
      <div class="ngx-flex--row">

        <div class="ngx-flex--col-3">
          <mat-icon class="menu_icon_mobile"><a class="menu_mobile_link" href="#acceder">home</a></mat-icon>
          <h1 class="menu_mobile_text"><a class="menu_mobile_link" href="#acceder">ACCEDER</a></h1>
        </div>

        <div class="ngx-flex--col-3">
          <mat-icon class="menu_icon_mobile"><a class="menu_mobile_link" href="#equipo">group</a></mat-icon>
          <h1 class="menu_mobile_text"><a class="menu_mobile_link" href="#equipo">EQUIPO</a></h1>
        </div>

        <div class="ngx-flex--col-3">
          <mat-icon class="menu_icon_mobile"><a class="menu_mobile_link" href="#recurso">folder</a></mat-icon>
          <h1 class="menu_mobile_text"><a class="menu_mobile_link" href="#recurso">RECURSOS</a></h1>
        </div>

        <div class="ngx-flex--col-3">
          <mat-icon class="menu_icon_mobile"><a class="menu_mobile_link" href="#contacto">contact_mail</a></mat-icon>
          <h1 class="menu_mobile_text"><a class="menu_mobile_link" href="#contacto">CONTACTO</a></h1>
        </div>

      </div>
    </div>

  </div>


