


.menu_icon_mobile {
  width: 100%;
  text-align: center;
  margin-left: 0%;
  color: black;
  margin-top: 15%;
}


.menu_mobile_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 65%;
  color: black;
  text-align: center;
  line-height: 0;
  margin-bottom: 50%;
}


.menu_mobile_link:hover, .menu_mobile_link:visited, .menu_mobile_link:link, .menu_mobile_link:active {
  color: black;
}
