<div style="background-color: white;">

  <h1 class="title_redes">REDES A LAS QUE PERTENECEMOS</h1>

  <div class="ngx-flex--row">

    <div class="ngx-flex--col-2">
      <a href="https://clacai.org/" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo1.png"></a>
    </div>

    <div class="ngx-flex--col-1">
      <a href="https://www.facebook.com/TheWomensResourceUsingCEDAWToReachEquality" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo2.png"></a>
    </div>

    <div class="ngx-flex--col-2">
      <a href="https://derechosdelamujer.org/autores/consorcio-latinoamericano-de-anticoncepcion-de-emergencia/" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo3.png"></a>
    </div>

    <div class="ngx-flex--col-2">
      <a href="https://www.fdi.cr/" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo4.png"></a>
    </div>

    <div class="ngx-flex--col-1">
      <a href="https://www.facebook.com/pdocr/" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo5.png"></a>
    </div>

    <div class="ngx-flex--col-2">
      <img class="logo_org" src="assets/image/logosredes/logo6.png">
    </div>

    <div class="ngx-flex--col-2">
      <a href="https://reddesalud.org/" target="_blank"><img class="logo_org" src="assets/image/logosredes/logo7.png"></a>
    </div>

  </div>
</div>
