.title_redes {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 300;
  margin-top: 2%;
  margin-bottom: 2%;
}

.logo_org {
  width: 90%;
  margin-left: 15%;
  margin-bottom: 20%;
}

@media only screen and (max-width: 900px) {
  .title_redes {
    font-size: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 760px) {
  .title_redes {
    font-size: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
